<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="inicio-app">Inico</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="registro-app">Registro</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" routerLink="Login-app">Log In</a>
          </li>
        </ul>
      </div>
      <div class="d-flex justify-content-center flex-column align-items-center">
        <h2>Admin</h2>
        <button class="btn" routerLink="admin/usuarios-registrados">Lista Usuarios</button>
      </div>
    </div>
  </nav>
