<div class="div-Inicio">

    <div class="div-Inicio">
        <h1 class="text-center">Videogames Catalog</h1>

        <div class="row row-cols-1 row-cols-md-3 g-4 p-5">
            <div class="col" *ngFor="let videojuego of videojuegos">
                <div class="card h-100">
                    <img [src]="videojuego.urlImagen" class=" tamañoimg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ videojuego.NombreJuego }}</h5>
                        <p class="card-text">{{ videojuego.Descripcion }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>